/build
*.spec
main/*.html
SALARY SLIP.xlsx
*.pdf
main/pdfs
05 SALARY SLIP AUG 2024.xlsx
build_exe.txt
tempCodeRunnerFile.py
*.log
main/__pycache__
*json*
*html*
pdfs
main/html
main/json
sample.*
creds.py