*.ipynb
/build
*.spec
main/*.html
generate_pdf.py
SALARY SLIP.xlsx
*.pdf
main/pdfs
05 SALARY SLIP AUG 2024.xlsx
build_exe.txt
tester
tempCodeRunnerFile.py
*.log
main/__pycache__
*json*
*html*
pdfs
main/html
main/json