# Pyinstaller 
/build
*.spec
dist/doc

# Sensitive Files
SALARY SLIP.xlsx
05 SALARY SLIP AUG 2024.xlsx
build_exe.txt

# Temp Files
tempCodeRunnerFile*
main/__pycache__

# App files
*.log
*json
*html
*excel
*pdfs
creds.py
*.sqlite
*.db

# Python env
venv

.*